<div class="main-body" >

  <div class="links-list" >     
    <h3 class="day-date" >Today <small>SEPTEMBER 3RD</small></h3>
 
     <% @links.each do |link| %>

    <div class="link-item" >
      <div class="row">
        <div class="col-xs-1"> </div>
        <div class="col-xs-1">
            <a class="upvote" href="#" >
              <span class="upvote-button" >
              <span class="glyphicon glyphicon-chevron-up" ></span>
              </span> 
              <span class="upvote-count" >32</span>
            </a>
        </div>
        <div class="col-xs-7">
          <a class="link-item-title" href="<%= link.url %>"><%= link.title %></a>
          <span class="link-item-tagline" ><%= link.subtitle %></span>
        </div>
        <div class="col-xs-1"><span class="image" ><%= image_tag link.user.image, width: "40px;", height: "40px;" %></span></div>
        <div class="col-xs-2" > <span class="comment-count" ><span class=" glyphicon glyphicon-comment" > </span> 8</span> </div>
        <!-- <div class="col-xs-1"> <span class="comment-count" >8</span> </div> -->
       
      </div>
      
    </div>
    <% end %>
  </div>


</div>



<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Url</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
  
        <td></td>
        <td><%= link.url %></td>
        <td><%= link.user_id %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


