<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @link.subtitle %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>


    <% if current_user %>
    <h2>
    Leave a comment
    </h2>
    <%= form_for [@link, @link.comments.build] do |f| %>

       <%= f.hidden_field(:user_id, :value => current_user.id) %>
       <%= f.text_area(:body) %>
       <%= f.submit %>

    <% end %> 
    <% end %>

